.blog-articles {
    padding: 10px 0 0;

    &__content {
        padding: 0 0 10px;

        @media (min-width: $tablet-min-width) {
            padding: 0 0 20px;
        }

        @media (min-width: $desktop-width) {
            padding: 0 0 28px;
        }
    }
}
