{
    "extends": "stylelint-config-htmlacademy",
    "rules": {
        "declaration-no-important": null,
        "property-no-vendor-prefix": null,
        "font-family-name-quotes": null,
        "function-url-quotes": null,
        "string-quotes": null,
        "color-hex-case": "lower",
        "color-hex-length": null,
        "value-keyword-case": [
            "lower", {
                "ignoreProperties": ["/^\\$/"]
            }
        ],
        "indentation": [
            4, {
                "ignore": ["inside-parens"]
            }
        ]
    },
    "ignoreFiles": [
        "source/sass/vendor/*.{css,scss,sass}"
    ]
}
