body {
    margin: 0;
}

.homework-list {
    width: max-content;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .homework-list__item {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        margin: 30px;
        padding: 20px;
    }

    .homework-list__link {
        border: solid 2px black;
        color: black;
        margin: 30px;
        padding: 20px;
        text-decoration: none;
    }

        .homework-list__link:hover {
            background-color: black;
            border: solid 2px white;
            color: yellow; 
        }
