.slider-description {
    background-color: $color-black;
    opacity: 85%;
    width: 100%;
    padding: 20px 0;

    @media (min-width: $tablet-min-width) {
        padding: 31px 0;
    }

    &__container {
        text-align: center;
        max-width: 430px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__title {
        color: $color-white;
        font-size: $font-size-text;
        font-weight: $font-weight-regular;
        padding: 0 15px;
        margin: 0 0 15px;

        @media (min-width: $tablet-min-width) {
            margin: 0 0 16px;
        }
    }

    &__link {
        color: $color-white;
        text-decoration: underline dashed 1px;
        text-underline-offset: 4px;

        &:hover {
            text-decoration: underline solid 1px;
        }
    }

    &__text {
        color: $color-white;
        font-size: $font-size-text-small;
        font-weight: $font-weight-regular;
        margin: 0;
    }
}
