.header {
    @media (max-width: $mobile-max-width) {
        padding: 0;
    }

    @media (min-width: $tablet-min-width) {
        padding: 35px 0 40px;
    }

    @media (min-width: $desktop-width) {
        padding: 33px 0 40px;
    }

    &__menu {
        @media (max-width: $mobile-max-width) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
}
