.header {
    padding: 0;

    @media (min-width: $tablet-min-width) {
        padding: 35px 0 20px;
    }

    @media (min-width: $desktop-width) {
        padding: 33px 0 20px;
    }

    &__menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;

        @media (min-width: $tablet-min-width) {
            position: static;
        }
    }
}
