.menu-btn {
    @include btn-reset;

    display: block;
    background-color: transparent;

    @media (min-width: $tablet-min-width) {
        display: none;
    }

    &__icon {
        display: block;
        fill: $color-black;
        width: 26px;
        height: 26px;
        transition: fill 0.3s;

        &:hover {
            fill: $color-grey;
        }

        &:active {
            fill: $color-mercury;
        }

        &--menu {
            width: 32px;
            height: 20px;
        }
    }
}
