.menu {
    display: none;

    @media (min-width: $tablet-min-width) {
        display: block;
    }

    &--visible {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-wild-sand-transparent;
    }

    &__scrollable {
        @media (max-width: $mobile-max-width) {
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            max-height: 100%;
            padding: 50px 0;
        }

        @media (min-width: $tablet-min-width) {
            border-bottom: 1px solid $color-grey;
            padding: 0 0 30px;
        }

        @media (min-width: $desktop-width) {
            padding: 0 0 32px;
        }
    }

    &__container {
        @media (max-width: $mobile-max-width) {
            display: flex;
            flex-direction: row-reverse;
            flex-grow: 1;
            align-items: center;
            padding: 0 20px;
        }
    }

    &__btn-cross {
        position: absolute;
        top: 50px;
        right: 13px;
        z-index: 4;

        @media (orientation: landscape) {
            right: auto;
            left: 13px;
        }
    }

    &__list {
        @include no-list;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;

        @media (min-width: $tablet-min-width) {
            flex-direction: row;
            justify-content: flex-end;
            gap: 20px;
        }
    }

    &__item {
        &:first-child {
            @media (min-width: $tablet-min-width) {
                flex-grow: 1;
            }
        }
    }


    &__link {
        color: $color-grey;
        font-size: $font-size-title-two;
        font-weight: $font-weight-bold;
        text-decoration: none;
        transition: color 0.5s;

        @media (min-width: $tablet-min-width) {
            font-size: $font-size-text;
        }

        &:hover {
            color: $color-black;
        }

        &:active {
            color: $color-mercury;
        }

        &:focus {
            color: $color-black;
        }

        &--current {
            color: $color-black;
            cursor: default;
            pointer-events: none;
        }
    }
}
