.btn {
    @include btn-reset;

    display: inline-flex;
    align-items: center;
    vertical-align: top;
    background-color: $color-white;
    border-radius: 30px;
    border: 2px solid $color-black;
    color: $color-black;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    font-size: $font-size-text;
    line-height: calc(22 / 18);
    max-width: 280px;
    padding: 8px 17px;

    /*
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 40px;
    */

    transition: background-color 0.4s, border-color 0.4s, color 0.4s;
    /* .3s - такую запись stylelint не пропускает */

    &--black-and-long {
        background: $color-black;
        color: $color-white;
        padding: 8px 27px;

        &:hover:not(.btn:disabled),
        &:focus {
            background-color: $color-white;
            color: $color-black;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &--green {
        border: 2px solid $color-green;
        color: $color-green;

        &:hover:not(.btn:disabled, .btn--black-and-long),
        &:focus:not(.btn--black-and-long) {
            background-color: $color-green;
            color: $color-white;
        }
    }

    &--red {
        border: 2px solid $color-red;
        color: $color-red;

        &:hover:not(.btn:disabled, .btn--black-and-long),
        &:focus:not(.btn--black-and-long) {
            background-color: $color-red;
            color: $color-white;
        }
    }

    &--bg--wild-sand {
        background-color: $color-wild-sand;
    }

    &:hover:not(.btn:disabled, .btn--black-and-long, .btn--green, .btn--red),
    &:focus:not(.btn--black-and-long, .btn--green, .btn--red) {
        background-color: $color-black;
        color: $color-white;
    }

    &:active:not(.btn:disabled, .btn--black-and-long) {
        opacity: 0.7;
    }

    &:disabled {
        border: 2px solid $color-mercury;
        color: $color-mercury;
        cursor: no-drop;
    }
}
