.title-h1 {
    @include titles-common;

    font-size: $font-size-title-one;
    line-height: calc(57.5 / 47);
}

.title-h2 {
    @include titles-common;

    font-size: $font-size-title-two;
    line-height: calc(41 / 34);
}

.title-h3 {
    @include titles-common;

    font-size: $font-size-title-three;
    line-height: calc(29 / 24);
}
