html {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: $color-black;
    font-family: $font-family-base;
    font-size: $font-size-text;
    line-height: $line-height-base;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.img {
    max-width: 100%;
}
